name: Hourly News Sync
on:
  schedule:
    - cron: '0 * * * *' # This runs every hour automatically
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Run Fetch Script
        run: php update_news.php